<!-- <div class="sidebar">
  <div class="sidebar-header">
    <h3> Hello {{userName}}</h3>
  </div>
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link" routerLink="get/articles" routerLinkActive="active">
        <i class="fas fa-list"></i> List of articles
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="create/articles" routerLinkActive="active">
        <i class="fas fa-plus-circle"></i> add article
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/articles/gestion" routerLinkActive="active">
        <i class="fas fa-edit"></i> Gérer les articles
      </a>
    </li>
  </ul>
</div> -->

<div class="sidebar">
  <!-- ... -->
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link" routerLink="/home" routerLinkActive="active">
        <i class="fas fa-home"></i> Accueil
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/home/get/articles" routerLinkActive="active">
        <i class="fas fa-list"></i> Liste des articles
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/home/create/articles" routerLinkActive="active">
        <i class="fas fa-plus-circle"></i> Créer un article
      </a>
    </li>
  </ul>
</div>